<!--
<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
    <h2>Ihr Kind anmelden!</h2>
    <input placeholder="Name" type="input" formControlName="name"><br />
    <input placeholder="Geburtsdatum" type="date" formControlName="birthDate"><br />
    <select formControlName="kindergardenId">
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
            {{kindergarden.name}}, {{kindergarden.address}}
        </option>
    </select>
    <button type="submit">Erfassen</button>
</form>
-->

<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
  <h2>Ihr Kind anmelden!</h2>
  <div>
    <mat-form-field>
      <input class="form-input" matInput placeholder="Name" type="input" formControlName="name"><br />
      <mat-error>Der Name ist ein Pflichtfeld!</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input class="form-input" matInput placeholder="Geburtsdatum" type="date" formControlName="birthDate"><br />
      <mat-error>Das Geburtsdatum ist ein Pflichtfeld!</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-select class="form-input" formControlName="kindergardenId">
        <mat-option value="" disabled>Bitte Kindergarten auswählen</mat-option>
        <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
          {{kindergarden.name}}, {{kindergarden.address}}
        </mat-option>
      </mat-select>
      <mat-error>Der Kindergarten ist ein Pflichtfeld!</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit">Erfassen</button>
</form>


